/*fuentes*/
@font-face { 
  font-family: BarlowCondensed-Light;
  src: url(../Fonts/BarlowCondensed-Light.ttf);
}
@font-face {
  font-family: BarlowCondensed-Medium;
  src: url(../Fonts/BarlowCondensed-Medium.ttf);
}
@font-face {
  font-family: BarlowCondensed-SemiBold;
  src: url(../Fonts/BarlowCondensed-SemiBold.ttf);
}
@font-face {
  font-family: Momcake-Bold;
  src: url(../Fonts/Momcake-Bold.otf);
}

@font-face {
  font-family: Momcake-Thin;
  src: url(../Fonts/Momcake-Thin.otf);
}

body{
	background-color: lightblue;
	width: 1900px;
	height: 6821px;
    
}
.container{
	margin-left: -4px;
	background-color: white;
	width: 1900px;
	padding: 0px;
	
}

nav{
	background-color: black;
	width: 1900px;
	height: 140px;

	
}

.bg-imagen-logo{
	background-image: url("../imagenes/logo-06.png");
}

/*  SLIDER  */



.slide-contenedor{
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 1070px;
	position: relative;
	overflow: hidden;
	/*margin: auto;*/



}
/*
.miSlider{
	display: none;
	transition: 2s;
	max-height: 100%;
}*/
.miSlider{

}
.miSlider img{
	width: 100%;
	max-height: 100%;
	height: inherit;
	object-fit: cover;
	vertical-align: top;
	transition: 2s;

}

.direcciones{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;


}
.direcciones a{
	color: #fff;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
}
.direcciones a:hover{
	background: rgba(255, 255, 255,.5);
	transition: .5s;
} 

.barras{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.barra{
	cursor: pointer;
	height: 2px;
	width: 25px;
	margin: 0 2px;
	background: #dcdde1;
	display: inline-block;
	margin-left: 3px;
}

.active{
	background-color: #03A5B1;
}

.fades{
	animation-name: fade;
	animation-duration: 1.5s;


}

@keyframes fade {
	from {opacity:  .4;}
	to{opacity: 1;}
}

.fondo-pagina{
	background-image: url("../imagenes/fondopagina.png");
	width: 1900px;
	height: 5652px;
	margin-top: -50px;
}

.titulo{
	margin-top: 30px;
	width: 1900px;
	height: 250px;
	font-family: Momcake-Bold;
	color: #30CBEF;
	font-size: 186px;
	font-weight: 1000;
  
	
}

.elfuturo{
	
	padding: 0;
	margin-top: 100px;

	
}
.imagen-futuro{
	width: 1734px;
}
.elfuturo-texto{
	width: 630px;
	align-content: flex-end;
	margin-top: -500px;
	margin-left: 50%;
	color: white;
	font-size: 20px;

}
.elfuturo-texto-parrafo{
	
}
/*.parrafo{
	margin-right: 320px;
}*/

.speakers{
	margin-top: 300px;
	
}


/* SPEAKERS */


.container-bg{
	width: 200px;
	background-image: url("../imagenes/speakers.png");
}

.contenido-speakers{
	color: white;
	width: 1900px;
	background-color: transparent;
}
.speakers-imagen{
	margin-left: -20px;
}
.speakers-imagen-ult{
	margin-left: -15px;
}
.speakers-imagen-martop{
	margin-top: 3em;
}
.spearkers-image-nombre{
	margin-top: -2.5em;
	text-align: center;
	color: white;
	width: 319px;
	
	background-color: transparent;
	z-index: 1;
}
.spearkers-image-nombre-bg{
	margin-top: -34px;
	background-color: black;
	position: relative;
	/*opacity: 0.4;*/
	width: 100%;
	height: 50px;
	z-index: 0;
}
.speakers-flag{
	width: 33px;
	height: 19px;
	
	position: absolute;
	margin-left:  250px;
	margin-top: -10px;
	z-index: 4;

	
}

.colombia{
	background-image: url("../imagenes/bandera-colombia.png");
}
.argentina{
	background-image: url("../imagenes/bandera-argentina.png");
}
.bandera{
	background-image: url("../imagenes/bandera.png");
}
.mexico{
	background-image: url("../imagenes/bandera-mexico.png");
}
.peru{
	background-image: url("../imagenes/bandera-peru.png");
}
.chile{
	background-image: url("../imagenes/bandera-chile.png");
}
.usa{
	background-image: url("../imagenes/bandera-usa.png");
}
.espana{
	background-image: url("../imagenes/bandera-espana.png");
}
.btn-medida{
	margin-left: 20%;
	margin-top: 10%;
	width: 750px;
	height: 200px;
	color: white;
	position: relative;
	align-content: center;
	border-radius: 50px;
	
}

.texto-btn{
	
	color: white;
	border-radius: 30px;
	
	
}
.color-btn{
	background-color: #03A5B1;
}
.btn-arriba{
	position: absolute;
	margin-top: -10px;
	margin-left: 90px;

	}

.contenido2{
	width: 1900px;
}


/* AGENDATE */


.agendate{
	width: 1900px;
	padding: 0;
	margin-top: 190px;
	height: 800px;

	
}

.agendate-texto{
	width: 630px;
	align-content: flex-end;
	margin-top: -500px;
	margin-left: 50%;
	color: white;
	font-size: 20px;
}	

.bordes{
	border-bottom-width: 2px;
}
.bordes-der{

	border-right-width: 2px;
}

.columnas{
	position: absolute;
	margin-left: 250px;
}
.celdas{
	position: absolute;
	margin-top: 50px;
}
.celdas2{
	position: absolute;
	margin-top: 150px;
}
.celdas3{
	position: absolute;
	margin-top: 200px;
}
.celdas4{
	position: absolute;
	margin-top: 280px;
}
.celdas5{
	position: absolute;
	margin-top: 350px;
}
.agendate-texto{
	max-width: 100%;
	max-height: 100%;
	width: 50%;
	height: 1070px;
	position: relative;
	overflow: hidden;
}

.miTables .tabla {

	width: 80%;
	max-height: 100%;
	height: inherit;
	object-fit: cover;
	vertical-align: top;
	transition: 2s;
	margin-left: 100px;
	
}
.direcciones2{
	color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -300px;
	left: -5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	z-index: 1;
}

.direcciones2 button{
	color: black;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
}
.direcciones2 a:hover{
	background: rgba(255, 255, 255,.5);
	transition: .5s;
} 
.fades2{
	animation-name: fade;
	animation-duration: 1.5s;


}

@keyframes fade2 {
	from {opacity:  .4;}
	to{opacity: 1;}
}
.contenido2{
	height: 800px;
}


/*cuenta regresiva*/


#clock{
	font-size: 180px;
	color: #E4C084;
	font-family: BarlowCondensed-SemiBold;
	font-weight: bold;
	display: flex;
	margin-top: -150px;
	margin-left: -110px;
	justify-content: center;

}
.bg-container{
	background-color: transparent;

}
.contenedor-reloj{
	width: 1900px;
	display: flex;
	justify-content: center;
	
	z-index: 0;
}

.espacio-reloj{
	
	margin-left: 40%;
	width: 210px;
	height: 310px;
	text-align: center;
	position: absolute;
	background-color: #333333;
	z-index: 1;
	
}

.espacio-reloj-1{
	margin-left: 18%;
	text-align: center;
	width: 210px;
	height: 310px;
	background-color: #333333;
	position: absolute;
	z-index: 1;
}


.dias{
	font-size: 70px;
	margin-top: 80px;
	margin-left: -15px;
}
.dias2{
	font-size: 70px;
	margin-top: 80px;
	margin-left: -10px;
}


/* ORGANIZA */

.titulo-organiza{
	margin-top: 28%;
	width: 1900px;
}

.titulo-organizan{
	margin-top: 30px;
	width: 1900px;
	height: 250px;
	font-family: Momcake-Bold;
	color: #30CBEF;
	font-size: 106px;
	font-weight: 1000;

}
.bg-contenedor-organiza{
	background-color: transparent;
	width: 1900px;
	margin-top: 20px;
}


.contenido-organiza{
	color: white;
	width: 100%;

	background-color: transparent;
}
.organiza-imagen{
	margin-left: -20px;
}
.organiza-imagen-ult{
	margin-left: -15px;
}
.organiza-imagen-martop{
	margin-top: 3em;
}


/* SPONSORS */


.titulo-sponsors{
	
	width: 1900px;
	margin-top: -50px;
}

.titulo-sponsor{
	margin-top: 20px;
	width: 1900px;
	height: 250px;
	font-family: Momcake-Bold;
	color: #30CBEF;
	font-size: 106px;
	font-weight: 1000;
	position: relative;

}
.bg-contenedor-sponsor{
	background-color: transparent;

}
.sponsors-izq{
	margin-left: 500px;
}
.miSponsors {

	width: 100%;
	max-height: 100%;
	height: inherit;
	object-fit: cover;
	vertical-align: top;
	transition: 2s;
	
	margin-left: 80px;
	
}
.direcciones3{
	color: red;
	width: 100%;
	height: 100%;
	
	margin-top: -180px;
	left: -5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	z-index: 1;
}

.direcciones3 button{
	color: black;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
}

.direcciones3 a:hover{
	background: rgba(255, 255, 255,.5);
	transition: .5s;
} 
.fades3{
	animation-name: fade;
	animation-duration: 1.5s;


}

@keyframes fade3 {
	from {opacity:  .4;}
	to{opacity: 1;}
}


/* REDES SOCIALES */


.titulo-siguenos{
	margin-top: 80px;
	width: 1900px;
	height: 250px;
	font-family: Momcake-Bold;
	color: #30CBEF;
	font-size: 50px;
	font-weight: 1000;
}

.bg-contenedor-redes{
	background-color: transparent;
	margin-top: -140px;
}

.redes-top{
	margin-top: -120px;
}
.margen-izq{

	margin-left: 80px;
}
.margen-izq-1{

	margin-left: 310px;
}